In [1]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import tushare as ts

In [12]:
""" code：股票代码，即6位数字代码，或者指数代码（sh=上证指数 sz=深圳成指 hs300=沪深300指数 sz50=上证50 zxb=中小板 cyb=创业板）
start：开始日期，格式YYYY-MM-DD
end：结束日期，格式YYYY-MM-DD
ktype：数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D
retry_count：当网络异常后重试次数，默认为3
pause:重试时停顿秒数，默认为0
"""

' code：股票代码，即6位数字代码，或者指数代码（sh=上证指数 sz=深圳成指 hs300=沪深300指数 sz50=上证50 zxb=中小板 cyb=创业板）\nstart：开始日期，格式YYYY-MM-DD\nend：结束日期，格式YYYY-MM-DD\nktype：数据类型，D=日k线 W=周 M=月 5=5分钟 15=15分钟 30=30分钟 60=60分钟，默认为D\nretry_count：当网络异常后重试次数，默认为3\npause:重试时停顿秒数，默认为0\n'

In [14]:
a = ts.get_hist_data('sh000001' ,start='2016-1-1') #一次性获取全部日k线数据

In [19]:
a.count()

open            540
high            540
close           540
low             540
volume          540
price_change    540
p_change        540
ma5             540
ma10            540
ma20            540
v_ma5           540
v_ma10          540
v_ma20          540
dtype: int64

In [20]:
b = a.assign(day = pd.to_datetime(a.index) ) 
#a.assign(w = a['day'].weekday() )

#a['w'] = pd.to_datetime(a['w'].index).weekday()
#for x in pd.to_datetime(a.index) :
   # print(x.weekday())

In [21]:
b.count()
#b.assign(w =   lambda x: x.day.weekday   ).head()
#print(b.day)
#b.day[1].weekday()
b['weekday'] = b['day'].dt.dayofweek
b.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,day,weekday
date,,,,,,,,,,,,,,,
2018-12-19,2578.68,2579.87,2549.56,2547.08,1076618.00,-27.09,-1.05,2590.394,2594.386,2602.360,1277478.05,1207498.00,1389318.69,2018-12-19,2
2018-12-18,2583.63,2599.15,2576.65,2563.57,1170333.75,-21.32,-0.82,2600.912,2604.411,2607.458,1269191.05,1254338.25,1426786.02,2018-12-18,1
2018-12-17,2587.26,2598.97,2597.97,2573.87,1173632.50,4.23,0.16,2604.400,2613.342,2610.918,1237733.02,1305245.44,1476214.98,2018-12-17,0
2018-12-14,2627.28,2629.16,2593.74,2593.74,1459424.88,-40.31,-1.53,2601.722,2619.025,2616.195,1229405.87,1395361.14,1533364.77,2018-12-14,4
2018-12-13,2607.14,2645.84,2634.05,2599.46,1507381.12,31.90,1.23,2604.152,2618.470,2620.463,1155670.87,1388747.67,1581492.95,2018-12-13,3

In [23]:
ts.get_index().head()

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,0.42,2651.5613,2654.7980,2665.9577,2666.0784,2644.8964,167940558,1441.4340
1,000002,Ａ股指数,0.42,2776.5901,2779.9882,2791.6842,2791.8220,2769.5943,167683765,1440.1107
2,000003,Ｂ股指数,0.30,284.2697,284.3212,285.1799,285.1799,283.7949,256793,1.3233
3,000008,综合指数,0.27,2571.4604,2574.5833,2581.6136,2582.3963,2565.4038,34618853,317.7034
4,000009,上证380,0.54,4138.0398,4144.1871,4166.3986,4166.8364,4124.5993,40491848,327.9088

In [22]:
t1 = b[b['price_change']>0] 
#'0 MONDAY 列出 全部上涨的次数'

In [23]:
t1.groupby('weekday').size()

weekday
0    57
1    69
2    49
3    50
4    62
dtype: int64

In [24]:
t2 = b[b['price_change']<0] 
#'0 MONDAY 列出 全部下跌的次数'

In [11]:
t2.groupby('weekday').size()

weekday
0    52
1    43
2    69
3    67
4    54
dtype: int64

In [25]:
t2.count()

open            253
high            253
close           253
low             253
volume          253
price_change    253
p_change        253
ma5             253
ma10            253
ma20            253
v_ma5           253
v_ma10          253
v_ma20          253
day             253
weekday         253
dtype: int64

In [26]:
t1.count()

open            287
high            287
close           287
low             287
volume          287
price_change    287
p_change        287
ma5             287
ma10            287
ma20            287
v_ma5           287
v_ma10          287
v_ma20          287
day             287
weekday         287
dtype: int64