In [1]:
import numpy as np
import pandas as pd 
%pylab inline
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [4]:
dataPath ="/Users/quchaodong/stu/tmp/export/SH#600009.txt"
print (dataPath)
names=["date","open","high","low","close","vol","vol_m"]
x = pd.read_csv(dataPath,sep='\t',skiprows=2,names =names,index_col=0,encoding='gbk')

/Users/quchaodong/stu/tmp/export/SH#600009.txt

In [30]:
s = x.iloc[:,0].size
val = x.iloc[s-4:s-1]

In [31]:
val

             open   high    low  close        vol        vol_m
date
2018/10/15  54.61  55.16  53.84  54.05  4125722.0  224876688.0
2018/10/16  54.07  54.97  53.00  53.40  3429991.0  185218128.0
2018/10/17  53.89  54.51  52.50  52.68  4913900.0  262943296.0

In [32]:
val.iloc[0]

open     5.461000e+01
high     5.516000e+01
low      5.384000e+01
close    5.405000e+01
vol      4.125722e+06
vol_m    2.248767e+08
Name: 2018/10/15, dtype: float64

In [35]:
def deal_file( dataPath):
    print (dataPath)
    names=["date","open","high","low","close","vol","vol_m"]
    x = pd.read_csv(dataPath,sep='\t',skiprows=2,names =names,index_col=0,encoding='gbk')
    s = x.iloc[:,0].size
    #前3天数据
    val = x.iloc[s-4:s-1] ;
    return val

In [36]:
a=deal_file(dataPath)

/Users/quchaodong/stu/tmp/export/SH#600009.txt

In [37]:
a

             open   high    low  close        vol        vol_m
date
2018/10/15  54.61  55.16  53.84  54.05  4125722.0  224876688.0
2018/10/16  54.07  54.97  53.00  53.40  3429991.0  185218128.0
2018/10/17  53.89  54.51  52.50  52.68  4913900.0  262943296.0